{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "no-continue": "off",
      "no-param-reassign": "off",
      "no-plusplus": "off",
      "no-restricted-syntax": "off",
      "no-shadow": "off",
      "no-use-before-define": ["error", "nofunc"],
      "no-useless-concat": "off",
      "prefer-destructuring": "off",
      "strict": "off"
  }
}
