/** @define StrictValidRules; use strict */

.nm-StrictValidRules {
  color: green;
}

.nm-StrictValidRules.nm-REALLYIS-active {
  color: green;
}

.nm-StrictValidRules .nm-StrictValidRules--modifier {
  color: green;
}
