/** @define StrictValidRules; use strict */

.StrictValidRules {
  color: green;
}

.StrictValidRules:focus {
  color: green;
}

.StrictValidRules.is-active {
  color: green;
}

.StrictValidRules .StrictValidRules--modifier {
  color: green;
}

.StrictValidRules .StrictValidRules--modifier::after {
  color: green;
}
