/** @define Component **/

.Component {
  color: green;

  .Component-descendant {
    &:active {}
    &.is-active {}
  }

  &.is-stateName {}
  &-descendant {}
  &-descendant--modifier {}
  &--modifier {}
  &:pseudo-class {}
  &:pseudo-element {}
  &::pseudo-element {}
  &[attr] {}
}

.Component-standAloneDescendant {}

@media (min-width: 780px) {
  .Component {
    .Component-descendant {}
  }
}

.Component {
  @nest & .Component-nested {
    width: 500px;
  }

  @nest &.is-dark {
    color: white;
  }
}

.Component {
  & .Component-nested {
    width: 500px;
  }

  &.is-dark {
    color: white;
  }
}

/** @define ComponentWeak; weak **/

.ComponentWeak {
  .Other {}
}
