/** @define ValidRules */

.ValidRules {
  color: green;
}

.ValidRules-child,
.ValidRules-child2 {
  color: green;
}

.ValidRules-child:first-child:hover,
.ValidRules-child2:nth-child(3)::before {
  color: green;
}

.ValidRules.is-active {
  color: green;
}

.ValidRules .Another {
  color: green;
}

@keyframes grow {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
